* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    transition: background-color 0.5s ease;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.orange {
    background-color: orange;
}
.lightblue {
    background-color: lightblue;
}

#titulo {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    color: red;
}